.body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    background-color: aqua;
    padding-bottom: 500px;
}

.main {
    display: flex;
    text-align: center;
    grid-template-columns: 1fr;
    background-color: yellow;
    padding-left: 200px;
}

.side {
    display: grid;
    position: fixed;
    text-align: center;
    background-color: yellowgreen;
    width: 200px;
}

.content-link {
    display: block;
    padding-bottom: 10px;
}

.div {
    padding: 15px;
    background-color: pink;
}

.img-hobby {
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.caption {
    font-weight: normal;
}

.img-hobby-anime {
    width: 1000px;
    height: 500px;
    object-fit: cover;
}
